doctrine:
    dbal:
        driver: 'pdo_pgsql'
        server_version: '11.2'
        charset: utf8
        url: '%env(resolve:DATABASE_URL)%'
        default_table_options:
            charset: utf8
            collate: '-'
        types:
            user_user_id: 'App\Model\User\Entity\User\IdType'
            user_user_email: 'App\Model\User\Entity\User\EmailType'
            user_user_role: 'App\Model\User\Entity\User\RoleType'
            user_user_status: 'App\Model\User\Entity\User\StatusType'
            lesson_goal_id: 'App\Model\Lesson\Entity\Goal\IdType'
            lesson_goal_alias: 'App\Model\Lesson\Entity\Goal\AliasType'
            lesson_goal_status: 'App\Model\Lesson\Entity\Goal\StatusType'
            lesson_teacher_id: 'App\Model\Lesson\Entity\Teacher\IdType'
            lesson_teacher_alias: 'App\Model\Lesson\Entity\Teacher\AliasType'
            lesson_teacher_status: 'App\Model\Lesson\Entity\Teacher\StatusType'
            lesson_teacher_price: 'App\Model\Lesson\Entity\Teacher\PriceType'
            lesson_teacher_rating: 'App\Model\Lesson\Entity\Teacher\RatingType'
            lesson_teacher_description: 'App\Model\Lesson\Entity\Teacher\DescriptionType'
            lesson_teacher_goal_id: 'App\Model\Lesson\Entity\TeacherGoal\IdType'
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            User:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Model/User/Entity'
                prefix: 'App\Model\User\Entity'
                alias: User
            Goal:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Model/Lesson/Entity/Goal'
                prefix: 'App\Model\Lesson\Entity\Goal'
                alias: Goal
            Teacher:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Model/Lesson/Entity/Teacher'
                prefix: 'App\Model\Lesson\Entity\Teacher'
                alias: Teacher
            TeacherGoal:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Model/Lesson/Entity/TeacherGoal'
                prefix: 'App\Model\Lesson\Entity\TeacherGoal'
                alias: TeacherGoal
