{% extends 'mail.html.twig' %}

{% block body %}
<p>Подтверждение регистрации:</p>

{% set url = frontend_url('profile/confirm', {'token': token} ) %}
<p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}
