{% extends 'mail.html.twig' %}

{% block body %}
<p>Подтверждение регистрации:</p>

{% set url = url('auth.signup.confirm', {'token': token}) %}
<p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}
